# IDE
/.vscode
/.idea

# CMake build directory
build/
cmake-build-debug/

# Node / Playwright
node_modules/
playwright-report/
test-results/

# files
.DS_Store
debug.log
/ncnn
/fmt
/third_party/emsdk
/.tools/
/web/realcugan-ncnn-webassembly*
/web/up2x*
/web/up3x*
/web/up4x*
/web/models-pro/
