# IDE
/.vscode
/.idea

# CMake build directory
build/
cmake-build-debug/

# files
.DS_Store
/ncnn
/fmt
/third_party/emsdk
/.tools/
/web/realcugan-ncnn-webassembly*
/web/up2x*
/web/up3x*
/web/up4x*
/web/models-pro/
